.exercise-2 {
  width: 50%;
  text-align: center;
  margin: 10px auto;
  border: 1px solid #cacaca;
  padding: 4px 10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}