.footer {
    margin-top: 20px;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    img {
        height: 40px;
        padding: 10px 10px 6px;
    }
}

.copyright {
    flex-grow: 1;
    color: #878787;
    font-size: 12px;
}