.videosList_wrapper h3 {
    text-align: center;
    color: #353535;
    font-weight: 300;
    font-size: 21px;
    margin: 20px;
}

.videoListItem_wrapper {
    display: flex;
    border-bottom: 2px solid #d5d5d5;
    background: #fff;
    
    h2 {
        font-size: 13px;
        color: #525252;
    }
}

.right {
    flex-grow: 1;
    padding: 10px;
}

.left {
    background-size: cover;

    div {
        width: 90px;
        height: 90px;
        background: url('/images/play.png') no-repeat center/ 40px;
    }
}

.relatedWrapper {
    margin: 0 5px;
}

